__pycache__/
.venv
venv/
logs/
uv.lock
main.exp
main.lib
main.obj
CLAUDE.md
GEMINI.md
.claude/
.gemini/

# START blissful-tuner (may be)
.pylintrc
*venv
*logs
*.safetensors
*.mp4
*.mkv
*.mov
*.png
*.sh
yamls
settings.json
previewflag
# END blissful-tuner
