accelerate
av
bitsandbytes
diffusers
einops
huggingface-hub
opencv-python
pillow
safetensors
toml
tqdm
transformers
voluptuous
ftfy
easydict
sentencepiece
ffmpeg-python
PySide6
omegaconf
timm
yacs
loguru
rich
rich-argparse
rich-tracebacks
prompt-toolkit
gradio
ascii-magic
matplotlib
tensorboard
ruff
basicsr
facexlib
cupy-cuda13x
spandrel
lpips
ultralytics
hatchling
