--extra-index-url https://download.pytorch.org/whl/nightly/cu130 
--extra-index-url https://pypi.nvidia.com 
--extra-index-url https://pypi.org/simple 
--extra-index-url https://download.pytorch.org/whl/cu130 

git+https://github.com/huggingface/accelerate.git@main
av
git+https://github.com/bitsandbytes-foundation/bitsandbytes.git@main
git+https://github.com/huggingface/diffusers@main
git+https://github.com/arogozhnikov/einops.git@main
huggingface_hub[mcp,torch,dev]
opencv-python
git+https://github.com/python-pillow/Pillow.git@main
git+https://github.com/huggingface/safetensors.git@main
toml
tqdm
git+https://github.com/huggingface/transformers.git@main
git+https://github.com/alecthomas/voluptuous.git@main
ftfy
easydict
sentencepiece
ffmpeg-python
PySide6
git+https://github.com/omry/omegaconf.git@main
git+https://github.com/huggingface/pytorch-image-models.git@main
yacs
git+https://github.com/Delgan/loguru.git@main
git+https://github.com/Textualize/rich.git@main
git+https://github.com/hamdanal/rich-argparse.git@main
git+https://github.com/celsiusnarhwal/rich-tracebacks.git@main
git+https://github.com/prompt-toolkit/python-prompt-toolkit.git@main
ascii-magic
git+https://github.com/matplotlib/matplotlib.git@main
tensorboard
ruff
basicsr
facexlib
cupy-cuda13x
git+https://github.com/chaiNNer-org/spandrel.git@main
lpips
git+https://github.com/ultralytics/ultralytics.git@main
git+https://github.com/pypa/hatch.git@main
git+https://github.com/LoganBooker/prodigy-plus-schedule-free.git@main
git+https://github.com/KohakuBlueleaf/LyCORIS.git@main
git+https://github.com/facebookresearch/schedule_free.git@main
git+https://github.com/konstmish/prodigy.git@main
git+https://github.com/nikhilvyas/SOAP.git@main
git+https://github.com/facebookresearch/dadaptation.git@main
git+https://github.com/huggingface/datasets.git@main
git+https://github.com/facebookresearch/xformers.git@main#egg=xformers
git+https://github.com/huggingface/tokenizers.git#subdirectory=bindings/python
